# Specify Python version
#python==3.9

# Required dependencies
flask
openmeteo_requests
requests
ngrok
google-cloud-dialogflow
gunicorn
requests_cache
pandas
retry_requests
datetime
numpy
json
os
